# Database
DB_URL=jdbc:mariadb://localhost:3306/your_database
DB_USERNAME=your_username
DB_PASSWORD=your_password

# JWT
JWT_SECRET=your-secret-key-here

# Gmail
GMAIL_USERNAME=your-email@gmail.com
GMAIL_PASSWORD=your-app-password

# Kafka
KAFKA_SERVERS=localhost:9092

# AWS S3
S3_ACCESS_KEY=your-aws-access-key
S3_SECRET_KEY=your-aws-secret-key
MY_BUCKET=your-bucket-name
AWS_REGION=ap-northeast-2